@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Pixel;
  src: url("font/PixeloidMono.ttf");
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Pixel;
}
